{% extends 'template.html' %}

{% block title %} 
    Outfit
{% endblock %}

{% block content %}

    <h1>{{user}}'s Outfit</h1>

    <a href="{{ url_for('outfit') }}" class="link">New style</a>
    <br>
    <a href="{{ url_for('udb') }}" class="link">Back to dashboard</a>
    <br>

    <table>
        <tr class="tablehead">
            <th>Name</th>
            <th>Color</th>
            <th>Category</th>
            <th>Image</th>
        </tr>
        <tr><br></tr>
    {% for clothing in clothes %}
        {% if clothing.category=="top clothing" %}
            <tr>
                <td>
                    {{clothing.name}}
                </td>
                <td>
                    {{clothing.color}}
                </td>
                <td>
                    {{clothing.category}}
                </td>
                <td>
                    <img src="{{clothing.path_to_img}}" alt="default.png">
                </td>
            </tr>
        {% endif %}
        {% if clothing.category=="bottom clothing" %}
            <tr>
                <td>
                    {{clothing.name}}
                </td>
                <td>
                    {{clothing.color}}
                </td>
                <td>
                    {{clothing.category}}
                </td>
                <td>
                    <img src="{{clothing.path_to_img}}" alt="default.png">
                </td>
            </tr>
        {% endif %}
        {% if clothing.category=="onsie" %}
            <tr>
                <td>
                    {{clothing.name}}
                </td>
                <td>
                    {{clothing.color}}
                </td>
                <td>
                    {{clothing.category}}
                </td>
                <td>
                    <img src="{{clothing.path_to_img}}" alt="default.png">
                </td>
            </tr>
        {% endif %}
        {% if clothing.category=="dress" %}
            <tr>
                <td>
                    {{clothing.name}}
                </td>
                <td>
                    {{clothing.color}}
                </td>
                <td>
                    {{clothing.category}}
                </td>
                <td>
                    <img src="{{clothing.path_to_img}}" alt="default.png">
                </td>
            </tr>
        {% endif %}
        {% if clothing.category=="shoe" %}
            <tr>
                <td>
                    {{clothing.name}}
                </td>
                <td>
                    {{clothing.color}}
                </td>
                <td>
                    {{clothing.category}}
                </td>
                <td>
                    <img src="{{clothing.path_to_img}}" alt="default.png">
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
    
{% endblock %}