button{
    margin-top: 1.5em;
    background-color: var(--purple);
    border-radius: .33em;
    border: none;
    width: 20%;
}
.dashboard-link{
    font-size: 2.5em;
}
.easteregg-link{
    margin-top: 10em;
    color: var(--brightgray);
}
.easteregg-link:hover{
    color: var(--brightgray);
    cursor: default;
}